PORT=5000
MONGO_URI=mongodb://localhost:27017/awscognito
CLIENT_URL=http://localhost:5173

# AWS Cognito Configuration
AWS_REGION=eu-north-1
COGNITO_USER_POOL_ID=eu-north-1_vc0czokE3
COGNITO_CLIENT_ID=43ohqk8v6amc0k7fakl8j0m6q9

